.DS_Store
app/node_modules
app/vendor
app/.env
app/.env.*.local
app/public/hot
app/public/storage
app/storage/*.key
app/storage/pail
app/bootstrap/cache/*.php
!app/bootstrap/cache/.gitkeep
app/storage/app/public/*
!app/storage/app/public/.gitkeep
app/storage/framework/cache/data/*
app/storage/framework/sessions/*
app/storage/framework/testing/*
app/storage/framework/views/*
app/storage/logs/*
!app/storage/logs/.gitkeep
app/.phpunit.result.cache
app/Homestead.json
app/Homestead.yaml
app/auth.json
app/.fleet
app/.idea
app/.nova
app/.vscode
app/.zed
